<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/scripts/add.js"></script>
    <script src="/scripts/form-submit.js"></script>
    <script src="/scripts/identification.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  </head>
  <body>
    <a href="/sightings"">Birdwatch Sightings</a>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Add a Sighting</a>
      </li>
    </nav>
    <form style="padding-right: 5%; padding-left: 5%;" enctype="multipart/form-data" id="form" method="POST">
      <p id="offline-warning"></p>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">        
          <button style="float: right;" type="submit" class="btn btn-outline-danger">Submit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label for="image">Image:</label>
          <div id="image-show">
            <div class="card" style="width: 250px; height: 250px">
              <img class="card-img-top" id="card-image-show">
            </div>
          </div>
          <br>
          <input
            type="file"
            id="image"
            name="image"
            accept="image/*"
            onchange="loadFile(this)"
          />
        </div>
        <div id="map" class="col-sm"></div>
        <div class="col-sm">
          <div class="row">
            <label for="date">Date/Time:</label>
            <input type="datetime-local" id="date" name="date" required />
          </div>
          <div class="row">
            <div class="col-sm" style="margin: 5px 0px;">
              <div class="row">
                <label for="latitude" class="readonly"><br>Latitude:</label>
                <input type="number" step="any" id="latitude" name="latitude" class="readonly" required />
              </div>
            </div>
            <div class="col-sm" style="margin: 5px 0px;">
              <div class="row">
                <label for="longitude" class="readonly"><br>Longitude:</label>
                <input type="number" step="any" id="longitude" name="longitude" class="readonly" required />
              </div>
            </div>
          </div>
          <div class="row">
            <button type="button" class="btn btn-sm btn-success" id="locationButton">Get My Location!</button>
          </div>               
          <div class="row">
            <label for="userNickName"><br>Username:</label>
            <input type="text" id="userNickname" name="userNickname" required />
          </div>
        </div>
        <div class="row">
          <label for="description"><br>User Description:</label>
          <input type="text" id="description" name="description" required/>
        </div>
        <div class="row">
          <form id="id-form">
            <label for="id-name-search"><br>Identification Search</label>
            <input type="text" id="id-name-search" name="id-name-search"/>
            <button id="id-submit" type="submit" value="Search">Search Identification</button>
          </form>
<!--          ID table to be updated upon ID search-->
          <table class="table table-bordered table-responsive" id="id-table" style="display:none; height:200px; overflow: auto;">
            <thead>
              <tr>
                <th>Common Name</th>
                <th>Scientific Name</th>
                <th>English Description</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody id="id-table-body">
            </tbody>
          </table>
        </div>
        <!--          Display selected identification's information-->
        <div class="row" id="identification-info" style="display:none">
          <label for="idCommonName"><br>Common name:</label>
          <input type="text" id="idCommonName" value="unknown" name="idCommonName" readonly/>
          <br><br>
          <label for="idScientificName"><br>Scientific name:</label>
          <input type="text" id="idScientificName" value="unknown" name="idScientificName" readonly/>
          <br><br>
          <label for="idDescription"><br>Description:</label>
          <input type="text" id="idDescription" value="unknown" name="idDescription" readonly/>
          <br><br>
          <label for="idLink"><br>Link:</label>
          <input type="text" id="idLink" name="idLink" value="unknown" readonly/>
          <br><br>
          <label for="idStatus"><br>Status:</label>
          <input type="text" id="idStatus" name="idStatus" value="unknown" readonly/>
          <br><br>
        </div>
        <table>

        </table>
      </div>
    </form>
  </body>
</html>
