<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/scripts/add.js"></script>
    <script src="/scripts/form-submit.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  </head>
  <body>
    <a href="/sightings">Birdwatch Sightings</a>
    <!-- <button onclick="location.href='/sightings';"  class="btn btn-outline-success">🏠</button> -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Add a Sighting</a>
      </li>
    </nav>
    <form style="padding-right: 5%; padding-left: 5%;" enctype="multipart/form-data" id="form" method="POST">
      <p id="offline-warning"></p>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">        
          <button style="float: right;" type="submit" class="btn btn-outline-success">Submit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label for="image">Image:</label>
          <div id="image-show">
            <div class="card" style="width: 250px; height: 250px">
              <img class="card-img-top" id="card-image-show">
            </div>
          </div>
          <br>
          <input
            type="file"
            id="image"
            name="image"
            accept="image/*"
            onchange="loadFile(this)"
          />
        </div>
        <div id="map" class="col-sm"></div>
        <div class="col-sm">
          <div class="row">
            <label for="date">Date/Time:</label>
            <input type="datetime-local" id="date" name="date" required />
          </div>
          <div class="row">
            <div class="col-sm" style="margin: 5px 0px;">
              <div class="row">
                <label for="latitude" class="readonly"><br>Latitude:</label>
                <input type="number" step="any" id="latitude" name="latitude" class="readonly" required />
              </div>
            </div>
            <div class="col-sm" style="margin: 5px 0px;">
              <div class="row">
                <label for="longitude" class="readonly"><br>Longitude:</label>
                <input type="number" step="any" id="longitude" name="longitude" class="readonly" required />
              </div>
            </div>
          </div>
          <div class="row">
            <button type="button" class="btn btn-sm btn-success" id="locationButton">Get My Location!</button>
          </div>               
          <div class="row">
            <label for="userNickName"><br>Username:</label>
            <input type="text" id="userNickname" name="userNickname" required />
          </div>
        </div>
        <div class="row">
          <label for="description"><br>Description:</label>
          <input type="text" id="description" name="description" required/>
        </div>
      </div>
    </form>
  </body>
</html>
