<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <button onclick="location.href='/sightings';"  class="btn btn-outline-success">🏠</button>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Add a Sighting</a>
    </nav>
    <br>
    <form enctype="multipart/form-data" action="/sightings/add" method="POST">
      <label for="image">Image:</label>
      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        onchange="loadFile(this)"
      />
      <br><br>
      <label for="userNickName">Username:</label>
      <input type="text" id="userNickname" name="userNickname" required />
      <div id="image-show"></div>
      <br>
      <label for="date">Date/Time:</label>
      <input type="datetime-local" id="date" name="date" required />
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" required/>
      <br><br>
      <label for="latitude">Latitude:</label>
      <input type="number" id="latitude" name="latitude" required readonly />
      <label for="longitude">Longitude:</label>
      <input type="number" id="longitude" name="longitude" required readonly />
      <button type="button" id="locationButton">Get Location</button>
      <br><br>
      <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
    <% if (typeof error != "undefined") { %>
     <p>There was an error submitting your sighting: 
        <br><%= error %></p>
    <% } %>%>
  </body>
  <script type="text/javascript">
    var btn = document.getElementById("locationButton");
    var longitude = document.getElementById("longitude");
    var latitude = document.getElementById("latitude");

    btn.addEventListener("click", getLocation);

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }

    function showPosition(position) {
      latitude.value = position.coords.latitude;
      longitude.value = position.coords.longitude;
    }

    function loadFile(input) {
      var file = input.files[0];
      var newImage = document.createElement("img");
      newImage.setAttribute("class", 'img');
      newImage.src = URL.createObjectURL(file);
      newImage.style.width = "70%";
      newImage.style.height = "70%";
      newImage.style.visibility = "hidden";
      newImage.style.objectFit = "contain";
      var container = document.getElementById('image-show');
      if (container.childElementCount === 0){
        container.appendChild(newImage);
      }
      else{
        container.removeChild(container.firstChild);
        container.appendChild(newImage);
      }
      newImage.style.visibility = "visible";
    }
  </script>
</html>
