<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/sightings">Birdwatch Sightings</a>
    <!-- <button onclick="location.href='/sightings';"  class="btn btn-outline-success">🏠</button> -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Add a Sighting</a>
      </li>
    </nav>
    <form style="padding-right: 5%; padding-left: 5%;" enctype="multipart/form-data" action="/sightings/add" method="POST">
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">        
          <button style="float: right;" type="submit" class="btn btn-outline-success">Submit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <label for="image">Image:</label>
          <div id="image-show">
            <div class="card" style="width: 250px; height: 250px">
              <img class="card-img-top" id="card-image-show">
            </div>
          </div>
          <br>
          <input
            type="file"
            id="image"
            name="image"
            accept="image/*"
            onchange="loadFile(this)"
          />
        </div>
        <div class="col-sm"></div>
        <div class="col-sm">
          <div class="row">
            <label for="date">Date/Time:</label>
            <input type="datetime-local" id="date" name="date" required />
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="row">
                <label for="latitude"><br>Latitude:</label>
                <input type="number" id="latitude" name="latitude" required readonly />
              </div>
              <div class="row">
                <label for="longitude"><br>Longitude:</label>
                <input type="number" id="longitude" name="longitude" required readonly />
              </div>
            </div>
            <div class="col-sm">
              <br><br>
              <button type="button" class="btn btn-sm btn-light" id="locationButton">Get Location</button>
            </div>               
          </div>
          <div class="row">
            <label for="userNickName"><br>Username:</label>
            <input type="text" id="userNickname" name="userNickname" required />
          </div>
        </div>
        <div class="row">
          <label for="description"><br>Description:</label>
          <input type="text" id="description" name="description" required/>
        </div>
      </div>
    </form>
  </body>
  <script type="text/javascript">
    var btn = document.getElementById("locationButton");
    var longitude = document.getElementById("longitude");
    var latitude = document.getElementById("latitude");

    btn.addEventListener("click", getLocation);

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }

    function showPosition(position) {
      latitude.value = position.coords.latitude;
      longitude.value = position.coords.longitude;
    }

    function loadFile(input) {
      var file = input.files[0];
      var newImage = document.getElementById('card-image-show');
      url = URL.createObjectURL(file);
      newImage.setAttribute('src', url);
    }
  </script>
</html>
