<!DOCTYPE html>
<html>
<head>
    <title>Comments</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/chat.js"></script>
</head>
<body onload="init()">
<h1>Comments</h1>
<div id="chat_interface">
    <div id="history" class="boxed" style="overflow:scroll">
        <% for (var i=0; i < comments.length; i++) { %>
        <p><b> <%= comments[i].userNickname %></b>: <%= comments[i].text %></p>
        <% } %>
    </div>
    <div id="input" class="bottom boxed">
<!--        <form onsubmit="return false;" style="width: 100%" method="POST" action="/chat">-->
<!--        Action set on load in init -->
<!--        <form id="chatform" style="width: 100%" method="POST">-->
        <form id="chatform" style="width: 100%" onsubmit="return false;">
            <p>
                <label for="userNickname"> User Nickname: </label>
                <input type="text" id="userNickname" name="userNickname" style="width: 80%; float:right">
                <br>
                <label for="text"> Comment: </label>
                <input type="text" id="text" name="text" style="width: 80%; float:right">
                <br><br>
                <button id="chat_send" onclick="sendChatText()">Send</button>
<!--                <button id="chat_send" onclick="sendChatText()" type="submit">Send</button>-->
            </p>
        </form>
    </div>
</div>
</body>
</html>
