body {
  padding: 50px;
  font-family: Consolas;
  background-color: #f8f9fa
}

.navbar-brand {
  font-size: 250%;
  color: #0c4128;
}

.table-data:hover { 
  background-color:#c0d7cd; 
}

.table-responsive{
  width: 100%;
}

/* .img-thumbnail{
  max-width:300px;
  max-height:300px;
} */

a{
  text-decoration: none;
  color:#0c4128;
}

a:hover{
  color:#c0d7cd;
}

.readonly {
  pointer-events: none;
  focusable: false;
  cursor: not-allowed;
}

#map { 
  height: auto;
  width: 100%;
  border: 1px solid #0c4128;
  margin: 10px;
  min-height: 300px;
}